parameters:
    level: max

    checkMissingIterableValueType: false

    paths:
        - src
        - tests

    autoload_files:
        - vendor-bin/test/vendor/autoload.php

    ignoreErrors:
        - '#Parameter \#1 \$services of class Core23\\SitemapBundle\\Sitemap\\SitemapServiceManager constructor expects array<Core23\\SitemapBundle\\Sitemap\\SitemapServiceInterface>, array<string, stdClass> given.#'

        - '#PHPDoc tag @throws with type Psr\\SimpleCache\\InvalidArgumentException is not subtype of Throwable#'

        # Symfony DI
        - '#Call to an undefined method Symfony\\Component\\Config\\Definition\\Builder\\NodeDefinition::children\(\).#'
        - '#Cannot call method end\(\) on Symfony\\Component\\Config\\Definition\\Builder\\NodeParentInterface\|null.#'

        # PHPUnit
        -
            message: '#Property .*::\$.* has no typehint specified.#'
            path: tests/

        -
            message: "#^Instantiated class Symfony\\\\Component\\\\HttpKernel\\\\Client not found\\.$#"
            count: 1
            path: tests/Action/SitemapXMLActionIntegrationTest.php

        -
            message: "#^Call to method request\\(\\) on an unknown class Symfony\\\\Component\\\\HttpKernel\\\\Client\\.$#"
            count: 1
            path: tests/Action/SitemapXMLActionIntegrationTest.php

        -
            message: "#^Call to method getResponse\\(\\) on an unknown class Symfony\\\\Component\\\\HttpKernel\\\\Client\\.$#"
            count: 1
            path: tests/Action/SitemapXMLActionIntegrationTest.php
