parameters:
	ignoreErrors:
		-
			message: "#^Cannot call method end\\(\\) on Symfony\\\\Component\\\\Config\\\\Definition\\\\Builder\\\\NodeParentInterface\\|null\\.$#"
			count: 1
			path: src/DependencyInjection/Configuration.php

		-
			message: "#^Call to an undefined method Symfony\\\\Component\\\\Config\\\\Definition\\\\Builder\\\\NodeDefinition\\:\\:children\\(\\)\\.$#"
			count: 1
			path: src/DependencyInjection/Configuration.php

		-
			message: "#^PHPDoc tag @throws with type Psr\\\\SimpleCache\\\\InvalidArgumentException is not subtype of Throwable$#"
			count: 1
			path: src/Generator/SitemapGenerator.php

		-
			message: "#^Method Nucleos\\\\SitemapBundle\\\\Test\\\\AbstractSitemapServiceTestCase\\:\\:assertLastmod\\(\\) has parameter \\$data with no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Test/AbstractSitemapServiceTestCase.php

		-
			message: "#^Instantiated class Symfony\\\\Component\\\\HttpKernel\\\\Client not found\\.$#"
			count: 1
			path: tests/Action/SitemapXMLActionIntegrationTest.php

		-
			message: "#^Call to method request\\(\\) on an unknown class Symfony\\\\Component\\\\HttpKernel\\\\Client\\.$#"
			count: 1
			path: tests/Action/SitemapXMLActionIntegrationTest.php

		-
			message: "#^Call to method getResponse\\(\\) on an unknown class Symfony\\\\Component\\\\HttpKernel\\\\Client\\.$#"
			count: 1
			path: tests/Action/SitemapXMLActionIntegrationTest.php

		-
			message: "#^Parameter \\#1 \\$services of class Nucleos\\\\SitemapBundle\\\\Sitemap\\\\SitemapServiceManager constructor expects array\\<Nucleos\\\\SitemapBundle\\\\Sitemap\\\\SitemapServiceInterface\\>, array\\<string, stdClass\\> given\\.$#"
			count: 1
			path: tests/Sitemap/SitemapServiceManagerTest.php

